<div>
    <img style="height: 260px;width:90%;margin-left: -110px;margin-top: -300px;" src="./../assets/about.jpg" alt="logo" >
    </div>    
<div class="about">
    Making the right travel arrangements is the genesis of any good holiday. 
    Providing exceptional bus travel arrangements is the mantra that’s followed 
    at TravelOn. India’s largest online bus <br> ticketing platform has driven the country’s 
    bus booking journey over the past 13+ years through thousands of bus operators and 
    routes. Striving to reach new heights when it comes to <br>online bus booking in India,
    TravelOn has become the right tool to use to have a smooth bus ticket booking experience.
    Anybody can use the official website of TravelOn or the user-friendly<br> app to book their 
    bus tickets from anywhere in the country. From the comfort of your home or from or 
    office or vehicle, you can now make an online bus booking with ease.<br><br>
    On-Time Guarantee with TravelOn

Here's another reason why TravelOn should be your one-stop destination when it comes to bus ticket booking. The On-Time Guarantee is a unique feature that’s offered by TravelOn for the benefit of every customer. Look for the “On-Time Guarantee” tag that’s marked against a bus on the route you’ve searched for. If you book bus tickets for your family or yourself on a “On-Time Guarantee” tag, you or your family will fall under the benefits mentioned below:



<br><br><strong>Bus On Time:</strong> With this benefit, customers will receive a 25% refund on their bus ticket costs in case the bus that they need to travel in is delayed by 30 minutes.
<br><br><strong>No Bus Cancellation:</strong> If you made an online bus booking through TravelOn and the bus operator cancels the bus without making any alternate arrangements, the customer will receive a 150% refund on their bus ticket costs.
<br><br><strong>Alternate Assurance:</strong> If a bus breaks down during the journey, the customers who are traveling on the bus would have to wait for an alternate arrangement to be made by the bus operator. If this arrangement is not made within 6 hours from the time of the breakdown, the customers will be eligible for a 300% refund on their bus tickets.
</div>