<body>
<div class='home'>
<div><a [routerLink]="['']"><img style="height: 50px;margin-left: -160px;margin-top: 1px;" src="./../assets/logo.jpg" alt="logo" ></a></div>
<div><p style="font-size: x-large;margin-left: 400px;margin-top: 10px;font-family:'Times New Roman', Times, serif;color: white ;">Online Bus Ticket Booking</p></div>
<div><p style="font-size: medium;margin-left: 1130px;margin-top: -48px;font-family:'Times New Roman', Times, serif;color: white ;"><a [routerLink]="['/about']">About</a></p></div>
<div><p style="font-size: medium;margin-left: 1230px;margin-top: -48px;font-family:'Times New Roman', Times, serif;color: white ;"><a [routerLink]="['/help']">Help</a></p></div>

</div>
<router-outlet></router-outlet>
</body>
