.formcontent { 
    width: 430px;
    padding: 20px;
    margin-top: -650px;
    margin-bottom: 0px;
    margin-left: 155px;
    background-color:lightpink;
    border: none;
}

input[type=text],
input[type=password],
input[type=date],
input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}

.button {
    color: white;
    background-color: red;
    border: white;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 3px;
    cursor: pointer;
}
