.d1{
    margin-left: -340px;
    margin-right: 12px;
    text-align: center;
    margin-top: -730px;
    background-color: gainsboro;
    border: blanchedalmond; 
    color: red;
    padding: 160px;
}