    <div class="box">
        <img src="../../assets/home2.jpg" alt="hom1" style="width: 151.2%;height: 200px;">
    </div>
    <br><br>
    <div>
    <a routerLink="/login" style="text-decoration: none; color: moccasin;"><button class="button1"><img src="../../assets/login.png" alt="avatarreg" style="width: 50%;height: 100px;"><br><br>Login</button></a>
    <a routerLink="/register" style="text-decoration: none; color: moccasin;margin-left: 3px;"><button class="button1"><img src="../../assets/avatarreg.jfif" alt="avatarreg" style="width: 50%;height: 100px;"><br><br>Register</button></a>
    <a routerLink="/admin" style="text-decoration: none; color: moccasin;"><button class="button1"><img src="../../assets/admin.png" alt="avatarreg" style="width: 50%;height: 100px;"><br><br>Admin Login</button><br></a>
    </div><br><br>
    <img src="../../assets/home.jpg" alt="home" style="width: 100.5%;height: 400px;margin-left: -180px;">
